{# View Information #}
{% set title = 'Mongo Administration' %}
{% extends "nosql/template/nosql-default.twig" %}

{# OnLoad Block #}{% block onload %}
$('a#clear-form').on('click', clear_form);
$('#collection-listings').on('click', 'button.browse-collection', browse_collection);
$('#collection-listings').on('click', 'button.collection-delete', delete_collection);
$('form#mongo-tab-query-form').on('submit', submit_query);
$('form#mongo-tab-insert-form').on('submit', insert_object);
$('button#collection-create').on('click', create_collection);
$('#mongo-result').on('click', 'button.delete_item', delete_item);
$('#mongo-result').on('click', 'button.delete_item_browse', delete_item_browse);
{% endblock onload %}{# End OnLoad Block #}

{# Resources Block #}{% block resources %}

{% endblock resources %}{# End Resources Block #}

{# Content Block #}{% block content %}

<div class="row-fluid">
	<div class="span6 tabbable tabs-left">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#mongo-tab-collection" data-toggle="tab">Collections</a></li>
			<li><a href="#mongo-tab-query" data-toggle="tab">Query</a></li>
			<li><a href="#mongo-tab-insert" data-toggle="tab">Insert</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="mongo-tab-collection">
				<form class="form-inline">
					<fieldset>
						<div class="control-group">
							<div class="pull-left span10">
								<input id="collection-new" type="text" class="span12" name="collection" placeholder="Enter Collection Name">
							</div>
							<div class="pull-right">
								<button id="collection-create" class="btn btn-success btn-small"><span class="icon icon-plus-sign"></span> create</button>
							</div>
						</div>
					</fieldset>
				</form>
				<table class="table table-stripped">
					<thead>
						<th>Name</th>
						<th>Items</th>
						<th style="width: 150px;"></th>
					</thead>
					<tbody id="collection-listings">
						{% for collection in collections %}
						<tr id="{{ collection.name }}_row">
							<td>{{ collection.name }}</td>
							<td>{{ collection.count }}</td>
							<td>
								<div class="btn-group">
									<button rel="{{ collection.name }}" class="btn btn-small btn-info browse-collection"><span class="icon icon-search"></span> browse</button>
									<button class="btn btn-small btn-danger collection-delete" rel="{{ collection.name }}"><span class="icon icon-trash"></span> delete</button>
								</div>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="tab-pane" id="mongo-tab-query">
				<form class="form-horizontal" id="mongo-tab-query-form">
					<fieldset>
						<div class="control-group" data-error="collection">
							<label class="control-label" for="collection">Collection</label>
							<div class="controls">
								<select class="span12 collection-select-list"  name="collection" id="collection">
									<option value="">choose a collection</option>
									{% for collection in collections %}
									<option class="option-{{ collection.name }}">{{ collection.name }}</option>
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="item_id">ID</label>
							<div class="controls">
								<input type="text" name="item_id" class="span12" placeholder="Enter Item ID">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="collection">Query</label>
							<div class="controls">
								<textarea name="query" class="span12" placeholder="Enter Query"></textarea>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="collection">Attributes</label>
							<div class="controls">
								<textarea name="attributes" class="span12" placeholder="Enter Attributes"></textarea>
							</div>
						</div>
					</fieldset>
					<div class="form-actions">
						<a href="#" class="btn btn-small" rel="mongo-tab-query-form" id="clear-form"><span class="icon icon-remove-sign"></span> clear</a>
						<button class="btn btn-small btn-primary" id="mongo-tab-query-submit"><span class="icon icon-search"></span> query</button>
					</div>
				</form>
			</div>
			<div class="tab-pane" id="mongo-tab-insert">
				<form class="form-horizontal" id="mongo-tab-insert-form">
					<fieldset>
						<div class="control-group" data-error="collection">
							<label class="control-label" for="collection">Collection</label>
							<div class="controls">
								<select class="span12 collection-select-list"  name="collection" id="collection">
									<option value="">choose a collection</option>
									{% for collection in collections %}
									<option class="option-{{ collection.name }}">{{ collection.name }}</option>
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="collection">Object</label>
							<div class="controls">
								<textarea name="object" class="span12" placeholder="Enter Object"></textarea>
							</div>
						</div>
					</fieldset>
					<div class="form-actions">
						<a href="#" class="btn btn-small" rel="mongo-tab-insert-form" id="clear-form"><span class="icon icon-remove-sign"></span> clear</a>
						<button class="btn btn-small btn-success"><span class="icon icon-plus-sign"></span> insert</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="span6">
		<div class="well" id="mongo-result"></div>
	</div>
</div>

{% endblock content %}{# End Content Block #}
